
POSTGRES_PORT=5432
POSTGRES_DB=bank_ds
POSTGRES_USER=postgres
POSTGRES_PASSWORD=demo_change_me

POSTGRES_PUBLISH_PORT=55433


AIRFLOW_WEB_PORT=18080
AIRFLOW_UID=50000


AIRFLOW__CORE__FERNET_KEY=3wrTBQxXEuD3HuKtG92kekRxK5zvqbBbrpDJT9uK0Mo=

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=demo_airflow_change_me

SPARK_MASTER=local[*]
